<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="//cdn.bootcss.com/jquery/2.0.2/jquery.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/resource/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/resource/assets/css/admin.css">
    <script src="http://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
    <style>
        html{overflow-y: scroll}
        body{font-size: 13px;overflow-y: scroll}
        .am-radio-inline:nth-child(1),.am-checkbox-inline:nth-child(1){margin-left: 10px;}
        .am-radio-inline,.am-checkbox-inline{width: 110px}
        .yunfei{width: 200px !important;margin-right: 10px;height: 25px;}
    </style>
</head>
<body>
<div class="hw-content" style="padding: 20px;padding-bottom: 60px;">
    <form class="am-form am-form-horizontal" action="" method="post" id="from1">
        <div class="am-g am-margin-top">
            <div class="am-u-sm-3 am-u-md-2 am-text-right">
                模版标题
            </div>
            <div class="am-u-sm-8 am-u-md-4">
                <input type="hidden" class="am-input-sm" name="carriageid" value="{$data.carriageid}">
                <input type="text" class="am-input-sm" name="title" placeholder="请输入规格名称" value="{$data.title}">
            </div>
            <div class="am-hide-sm-only am-u-md-6"></div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                发货省份
            </div>
            <div class="am-u-sm-8 am-u-md-8">
                <template v-for="item in province">
                    <label class="am-radio-inline">
                        <input type="radio"  value="{{ item.name }}" name="province"> {{ item.name }}
                    </label>
                </template>
            </div>
            <div class="am-hide-sm-only am-u-md-6"></div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-3 am-u-md-2 am-text-right">
                默认价格
            </div>
            <div class="am-u-sm-8 am-u-md-4">
                <input type="text" class="am-input-sm" name="price" placeholder="单元:元(不单独设置价格将采用默认价格)" value="{$data.price}">
            </div>
            <div class="am-hide-sm-only am-u-md-6"></div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                收货省份
            </div>
            <div class="am-u-sm-8 am-u-md-8">
                <template v-for="item in province">
                    <label class="am-checkbox-inline">
                        <input type="checkbox"  value="" name="yunfei" @click="add(item.name,this)" v-model="item.is"> {{ item.name }}
                    </label>
                </template>
            </div>
            <div class="am-hide-sm-only am-u-md-6"></div>
        </div>

        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-9 am-u-sm-offset-2">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd">运费设置</div>
                    <div class="am-panel-bd">
                        <table class="am-table am-table-striped am-table-hover">
                            <thead>
                                <tr>
                                    <th>配送省份</th>
                                    <th>运费</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in data">
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <input type="hidden" name="takeprovince[]" value="{{ item.name }}">
                                        <input type="text" class="am-input-sm yunfei am-fl" value="{{ item.yunfei }}" name="price2[]">元
                                    </td>
                                    <td><a class="am-btn am-btn-danger am-btn-xs" @click="del(this)">操作</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-9 am-u-sm-offset-2">
                <if condition="$data.carriageid eq '' ">
                    <button type="button" class="am-btn am-btn-primary">添加运费模版</button>
                    <else />
                    <button type="button" class="am-btn am-btn-primary">修改运费模版</button>
                </if>
            </div>
        </div>
    </form>
    <div style="clear: both"></div>
</div>

<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/resource/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/resource/layer/layer.js"></script>
<script src="__PUBLIC__/resource/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/resource/assets/js/hw-layer.js"></script>
<script src="__PUBLIC__/resource/assets/js/app.js"></script>
<script>
    $(".am-btn-primary").click(function () {
        $.post("{:U('carriage/handle')}",$("#from1").serialize(),function (data) {
            $temp = $.parseJSON(data)
            if($temp['status'] == "200"){
                layer.msg($temp['text'],{icon:1,time:1000},function () {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.location.reload()
                    parent.layer.close(index);
                })
            }else{
                layer.msg($temp['text'],{icon:2,time:1000});
            }
        })
    })
</script>
<script>
    var vm = new Vue({
        el: 'body',
        data: {
            province: {$province | json_encode},
            data : [],
        },
        methods: {
            add: function(title,event) {
                $nub = event.$index;
                if(this.province[event.$index]['is'] != true){
                    this.data.splice(this.data.length,0,{ name:title, yunfei: ''})
                }else{
                    $.each(vm.data,function (index,element) {
                        if(vm.province[event.$index]['name'] == element['name']){
                            vm.data.$remove(vm.data[index])
                            return true
                        }
                    })
                }
            },
            del:function(event){
                $nub = event.$index;
                $.each(vm.province,function (index,element) {
                    if(vm.data[$nub]['name'] == element['name']){
                        vm.data.$remove(vm.data[$nub])
                        vm.province[index]['is'] = false
                        return false;
                    }
                })
            },
        }
    });
</script>
</body>
</html>
