<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品评价页</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="{:C('CDN_PATH')}__PUBLIC__/resource/hw/detail.css?{:C('CDN_VERSION')}">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/??sm.min.css,sm-extend.min.css">
    <script src="http://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
    <style>
        .page, .page-group{background: rgb(238,238,238)}
        .row{background: #fff}
        .hnav .col-50{margin-left: 0px;width: 50%}
        .hnav{text-align: center;height: 44px;}
        .hnav .col-50{height: 43px;line-height: 44px;font-size: 16px;border-bottom: 1px solid #e1e1e1}
        .spxq{background: #ff0c43;color: #fff}
        .swiper-container{padding-bottom: 0px;}
        .swiper-wrapper img{width: 100%}
        .swiper-container-horizontal>.swiper-pagination{bottom: 1rem}
        .swiper-pagination-bullet-active{background: #fff}
        .content-padded{margin: 0px;padding: .5rem;background: #fff}
        .kefu{width: 12%;padding: 5px;background: #fff;float: left;border-right: 1px solid #e3e3e3}
        .kefu .icon{display: block;padding: 0px;text-align: center}
        .kefu span{text-align: center;display: block;font-size: 12px;}
        .gouwu{width: 32%;background: #ff9414;float: left;height: 2.5rem;line-height: 2.5rem;text-align: center;color: #fff;font-size: 17px;}
        .goumai{width: 32%;background: #ff0043;float: left;height: 2.5rem;line-height: 2.5rem;text-align: center;color: #fff;font-size: 17px;}
        .pjbox ul{margin: 0px;padding: 0px;}
        .pjbox ul li{list-style: none;border-bottom: 1px solid #e1e1e1;margin-bottom: 10px;padding-bottom: 5px}
        .ptitle2{font-size: 14px;}
        .ptitle2 img{width: 22px; height: 22px;float: left;margin-right: 10px;border-radius: 50%}
        p.pcontent{font-size: 14px;margin-bottom: 0px}
        .pjbox div span{font-size: 12px;color: #999999;margin-right: 10px}
    </style>
</head>
<body>
<div class="page-group">
    <div class="page">
        <nav class="bar bar-tab">
            <div class="kefu">
                <span class="icon icon-message"></span>
                <span>客服</span>
            </div>
            <div class="kefu">
                <a href="/">
                    <span class="icon icon-home" style="font-size: 17px"></span>
                    <span>店铺</span>
                </a>
            </div>
            <div class="kefu love" @click="del({$data.commodityid})" v-if="islove == 1">
                <span class="icon icon-star"></span>
                <span>收藏</span>
            </div>

            <div class="kefu" @click="love" v-if="islove == 0">
                <span class="icon icon-star"></span>
                <span>收藏</span>
            </div>

            <div class="gouwu" @click="gouwu">
                加入购物车
            </div>
            <div class="goumai" @click="goumai">
                立即购买
            </div>
        </nav>
        <div class="content infinite-scroll infinite-scroll-bottom">
            <div class="row hnav">
                <div class="col-50" @click="detail">商品详情</div>
                <div class="col-50 spxq">用户评价</div>
            </div>
            <div class="content-padded pjbox" v-if="comment.length>0">
                <ul>
                    <template v-for="item in comment">
                    <li>
                        <div class="ptitle2">
                            <img :src="item.user.img">
                            {{ item.user.nickname }}
                        </div>
                        <p class="pcontent">{{ item.content }}</p>
                        <div>
                            <span>{{ item.time }}</span><span>{{ item.sku_value }}</span>
                        </div>
                    </li>
                    </template>
                </ul>
            </div>
            <div style="text-align: center;height: 100%;background: #fff" v-else>
                <img src="{:C('CDN_PATH')}__PUBLIC__/resource/hw/images/image_dpj.png?{:C('CDN_VERSION')}" width="140" style="margin-top: 50px;">
                <div style="clear: both"></div>
            </div>
            <div class="infinite-scroll-preloader" v-if=" comment.length >=6">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
    <div class="popup popup-about">
        <div class="content-block">
            <div class="ptitle">
                <div class="pimg">
                    <img src="{$data.thumbnail}">
                </div>
                <div class="pbody">
                    <b>￥{{ current_money }}</b>
                    <p>库存：{{ current_attr.stock }} 件</p>
                </div>

                <span class="iconfont guanbi" @click="close">&#xe60b;</span>
            </div>
            <div class="guige">
                <template v-for="item in shuxingji">
                    <p>{{ item.attr }}</p>
                    <ul>
                        <template v-for="val in item.val">
                            <li>{{ val }}</li>
                        </template>
                    </ul>
                    <div class="clear"></div>
                </template>
            </div>
            <div class="nub">
                <div class="row" style="height: 25px">
                    <div class="col-50">购买数量</div>
                    <div class="col-50 tr">
                        <span @click="jian">-</span>
                        <span>{{ nubs }}</span>
                        <span @click="jia">+</span>
                    </div>
                </div>
            </div>
            <div class="queding" @click="queding">确定</div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='{:C('CDN_PATH')}__PUBLIC__/resource/hw/js/config.js?{:C('CDN_VERSION')}' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='{:C('CDN_PATH')}__PUBLIC__/resource/hw/js/demos.js?{:C('CDN_VERSION')}' charset='utf-8'></script>
<script>
    $(function () {
        $(".guige ul li").click(function () {
            $(this).siblings().removeClass('active')
            if($(this).hasClass('active')){
                $(this).removeClass('active')
            }else{
                $(this).addClass('active')
            }

            var sku = new Array();
            $(".guige ul").each(function () {
                if($(this).find('li.active').text() != null){
                    sku.push($(this).find('li.active').text())
                }
            })
            vm.sku = sku.join(',')

            if(sku.length >= vm.shuxingji.length){
                //后台查询价格和库存
                $.post("__CONTROLLER__/get_attr/",{id:{:$_GET['id']},sku:vm.sku},function(data){
                    vm.current_attr = data
                    vm.current_money = vm.current_attr['attr_money']
                })
            }
        })
    })

    var loading = false;
    // 最多可加载的条目
    var page = 2;
    function addItems() {
        $.post('/Home/goods/comment?id={:$_GET['id']}&page='+page,function (data) {
            console.log(data)
            if(data == "0"){
                $.toast('没有了', 2345, 'success top');
                $.detachInfiniteScroll($('.infinite-scroll'));
                $('.infinite-scroll-preloader').remove();
            }else{
                page++
                $temp = $.parseJSON(data);
                vm.comment = vm.comment.concat($temp)
            }
            loading = false;
            $.hideIndicator();
        })
    }
    // 注册'infinite'事件处理函数
    $(document).on('infinite', '.infinite-scroll-bottom',function() {
        $.showIndicator();
        // 如果正在加载，则退出
        if (loading) return;
        // 设置flag
        loading = true;
        addItems();
        $.refreshScroller();
    });

    var vm = new Vue({
        el: 'body',
        data: {
            shuxingji : {$shuxingji},
            islove : {$data.islove|default="0"},
            comment : {$comment|json_encode},
            nubs : 1,
            guige : 0,
            current_attr : [],
            current_money:{$data.current},
            type : 1,//1为购物车，2为购买
            sku : '',
        },
        methods: {
            jia:function(){
                if(vm.nubs >= vm.current_attr['stock']){
                    $.toast("库存不够！");
                    return
                }
                vm.nubs++;
            },
            jian:function(){
                if(vm.nubs == 0){
                    return
                }
                vm.nubs--
            },
            detail: function (event) {
                window.location.href = '/Home/goods/detail/?id={:$_GET['id']}'
            },
            pingjia: function (event) {
                window.location.href = "/Home/goods/comment/"
            },
            gouwu: function (event) {
                vm.type = 1
                $.popup('.popup-about');
            },
            goumai: function (event) {
                vm.type = 2
                $.popup('.popup-about');
            },
            close:function () {
                $.closeModal('.popup-about')
            },
            love:function () {
                $.post('/Home/love/add',{commodityid:{:$_GET['id']}},function (data) {
                    $temp = $.parseJSON(data)
                    if($temp['status'] == "200"){
                        vm.islove = 1
                    }
                    $.toast($temp['text']);
                })
            },
            del:function(cid) {
                $.get('/Home/love/del/?cid='+cid,function (data) {
                    $temp = $.parseJSON(data)
                    if($temp['status'] == "200"){
                        vm.islove = 0
                    }
                    $.toast($temp['text']);
                })
            },
            queding:function(){
                if(vm.sku.split(',').length == vm.shuxingji.length){
                    $.showIndicator();
                    if(vm.type == 1){
                        $.post('/Home/cart/add_cart',{id:{:$_GET['id']},sku:vm.sku,nub:vm.nubs},function(data){
                            $temp = $.parseJSON(data);
                            $.toast($temp['text']);
                            $.hideIndicator();
                            $.closeModal('.popup-about')
                        })
                    }else{
                        $.hideIndicator();
                        $.post('/Home/order/set_order_from_detail',{id:{:$_GET['id']},sku:vm.sku,nub:vm.nubs},function(data){
                            $temp = $.parseJSON(data)
                            if($temp['status'] == "200"){
                                window.location.href = '/Home/order/jiesuan/?id='+$temp['text'];
                            }else{
                                $.toast($temp['text']);
                            }
                        })
                    }
                }else{
                    $.toast("请先选择规格!");
                }
            },
        }
    })
</script>
</body>
</html>