<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__PUBLIC__/resource/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/resource/assets/css/admin.css">
    <script src="//cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
    <style>
        .am-btn-sm{margin-right: 10px;}
        label{font-weight: normal;margin-right: 10px;}
        .am-form-group{margin-bottom: 0px;display: inline-block;margin-right: 10px;}
        .am-panel{margin-right: 30px;margin-left: 15px;border: none;-webkit-box-shadow: none;box-shadow: none}
        .am-panel-bd{padding: .5rem;}
        .am-form select{width: 100px;display: inline-block;margin-right: 10px;}
        .am-form input[type='text']{width: 200px;display: inline-block}
        .am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field{padding: .4rem;border-radius: 0px;}
        .laydate-icon, .laydate-icon-default, .laydate-icon-danlan, .laydate-icon-dahong, .laydate-icon-molv{height: 32px !important;padding-left: 10px!important;}
    </style>
</head>
<body>
<div class="am-cf admin-main2">
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <if condition="$Think.get.hw neq 2 ">
            <div class="am-cf am-padding am-padding-bottom-0 am-animation-slide-top hw-nav" >
                <div class="am-fl am-cf">
                    <ol class="am-breadcrumb">
                        <li class="am-active">会员列表</li>
                    </ol>
                </div>
                <div class="am-fr am-cr">
                    <a class="am-btn am-btn-warning hw-shuaxin" href="javascript:location.replace(location.href);">
                        <i class="am-icon-refresh"></i>
                    </a>
                </div>
            </div>
            </if>
            <if condition="$Think.get.hw neq 2 ">
            <div class="am-alert am-alert-secondary am-animation-scale-up" style="margin: 0px 20px;">
                <form class="am-form" action="/Admin/user/lists" method="get"  id="from1">
                    搜索类型：
                    <select name="type" class="form-control" style="width: 120px;display: inline-block;height: 35px;font-size: 14px">
                        <option value="1" <eq name="Think.get.type" value="1">selected</eq>>搜昵称</option>
                        <option value="2" <eq name="Think.get.type" value="2">selected</eq>>搜ID</option>
                        <option value="3" <eq name="Think.get.type" value="3">selected</eq>>搜手机号</option>
                    </select>
                    <input type="text" class="am-input-sm" name="keyword" value="" style="width: 200px;display: inline-block;height: 35px;">
                    <button type="submit" class="am-btn am-btn-secondary" style="height: 34px;line-height: 14px">筛选</button>
                </form>
            </div>
            </if>

            <div class="am-g am-animation-slide-right">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th width="120">ID</th>
                                <th>微信昵称</th>
                                <th>头像</th>
                                <th>积分</th>
                                <th>注册时间</th>
                                <th>是否购买</th>
                                <th>状态</th>
                                <th>会员等级</th>
                                <th class="table-set" width="400">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-for="(key,item) in user">
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.nickname }}</td>
                                    <td><img :src="item.img" width="40"> </td>
                                    <td>{{ item.integral }}</td>
                                    <td>{{ item.regtime }}</td>
                                    <td v-if="item.isbuy == 0"><span class="am-badge am-badge-danger">未购买</span></td>
                                    <td v-else><span class="am-badge am-badge-success">已购买</span></td>
                                    <td v-if="item.is_delete == 2"><span class="am-badge am-badge-danger">禁止登录</span></td>
                                    <td v-if="item.is_delete == 1"><span class="am-badge am-badge-success">正常</span></td>
                                    <td v-if="item.member == 0"><span class="am-badge am-badge-danger">非会员</span></td>
                                    <td v-if="item.member == 1"><span class="am-badge am-badge-success">银卡</span></td>
                                    <td v-if="item.member == 2"><span class="am-badge am-badge-success">金卡</span></td>
                                    <td v-if="item.member == 3"><span class="am-badge am-badge-success">至尊金卡</span></td>
                                    <td v-if="item.member == 4"><span class="am-badge am-badge-success">折扣会员</span></td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <a type="button" class="am-btn am-btn-default am-btn-sm" @click="jifen(item.id)"><span class="am-icon-sitemap"></span>  积分操作</a>
                                                <a type="button" class="am-btn am-btn-secondary am-btn-sm" @click="fenxiao(item.id)"><span class="am-icon-sitemap"></span>  分销关系</a>
                                                <a type="button" class="am-btn am-btn-warning am-btn-sm" @click="jilu(item.id)"><span class="am-icon-shopping-bag"></span>  购物记录</a>
                                                <a type="button" class="am-btn am-btn-danger am-btn-sm" @click="shanchu(item.id,key)" v-if="item.is_delete == 1"><span class="am-icon-trash-o"></span>  删除</a>
                                                <a type="button" class="am-btn am-btn-success am-btn-sm" @click="huifu(item.id,key)" v-if="item.is_delete == 2"><span class="am-icon-trash-o"></span>  恢复</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                        <div class="am-cf" style="padding:0px 30px 30px 30px;margin-bottom: 30px;">
                            <div class="am-fl hw-jilu">共 {{ user.length }} 条记录</div>
                            <div class="am-fr">
                                {$page}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/resource/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="//cdn.bootcss.com/jquery/2.0.2/jquery.min.js"></script>
<script src="__PUBLIC__/resource/layer/layer.js"></script>
<script src="__PUBLIC__/resource/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/resource/assets/js/hw-layer.js"></script>
<script src="__PUBLIC__/resource/assets/js/app.js"></script>
<script>
    var vm = new Vue({
        el: 'body',
        data: {
            user:{$data},
    },
    methods: {
        edit: function (id) {
            layer_full("查看用户详情",'__CONTROLLER__/edit/?id='+id)
        },
        jilu: function (id) {
            layer_full("查看购物记录",'/Admin/order/lists/?uid='+id+"&type=2")
        },
        shaixuan:function () {
            $("#from1").submit()
        },
        fenxiao:function (id) {
            layer_full("查看分销关系",'__CONTROLLER__/fenxiao/?id='+id)
        },
        shanchu: function (id,key) {
            layer.msg('确定要删除吗？', {
                time:0,
                btn: ['确定', '取消'],
                yes: function(){
                    $.get('__CONTROLLER__/del/?id='+id+"&type=1",function (data) {
                        $temp = $.parseJSON(data);
                        if($temp['status'] == "200"){
                            vm.user[key].is_delete = 2
                            layer.msg('删除成功！');
                        }else{
                            layer.msg($temp['text']);
                        }
                    })
                }
            });
        },
        huifu: function (id,key) {
            layer.msg('确定要恢复帐号吗？', {
                time:0,
                btn: ['确定', '取消'],
                yes: function(){
                    $.get('__CONTROLLER__/del/?id='+id+"&type=2",function (data) {
                        $temp = $.parseJSON(data);
                        if($temp['status'] == "200"){
                            vm.user[key].is_delete = 1
                            layer.msg('恢复成功！');
                        }else{
                            layer.msg($temp['text']);
                        }
                    })
                }
            });
        },
        jifen:function (id) {
            layer_full("积分操作",'__CONTROLLER__/jifen/?id='+id)
        }
    }
    })

</script>
</body>
</html>